.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2rem;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navigation li {
  margin-left: 2rem;
  cursor: pointer;
  color: var(--text-light);
  font-weight: bold;
}

.navigation li:hover {
  color: var(--text-dark);
}

.brand a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.5rem;
}

.brand a span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: var(--text-dark);
  margin-left: .5rem;
  font-weight: bold;
}

@media screen and (max-width: 920px) {
  .navbar{
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }

  .brand{
    margin-bottom: 1rem;
  }

  .brand a span{
    font-size: 1.5rem;
  }
}