*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Paleta de colores */
  --text-light: #f8f8ff;
  --text-dark: #1b1919;
  --primary-color: #2959b2;
  --secondary-color: #1a3d7f;
  --background-light: #fdf5e6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}