.lightBox{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  backdrop-filter: blur(8px);
  border: 2px solid red;
}

.popup{
  color: var(--text-light);
  background-color: var(--primary-color);
  padding: 2rem;
}

.popup i{
  color: var(--text-light);
  font-size: 2rem;
}